<div class="card shadow-sm p-4 mx-auto mt-4" style="max-width: 450px;">
  <h3 class="text-center mb-4">Changer le mot de passe</h3>

  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Mot de passe actuel</label>
      <input type="password" class="form-control" formControlName="currentPassword">
    </div>

    <div class="form-group mt-2">
      <label>Nouveau mot de passe</label>
      <input type="password" class="form-control" formControlName="newPassword">
    </div>

    <div class="form-group mt-2">
      <label>Confirmer le nouveau mot de passe</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <small class="text-danger" *ngIf="passwordUnMatch">
        Les mots de passe ne correspondent pas
      </small>
    </div>

    <div class="text-center">
    <button type="submit" class="btn btn-warning btn-block mt-3">
      Enregistrer
    </button>
    </div>
  </form>
</div>