<form [formGroup]="form" (ngSubmit)="submit()" class="container mt-5">
  <div class="card shadow-sm p-4 mx-auto" style="max-width: 450px;">

    <h3 class="text-center mb-4">
      {{ mode === 'register' ? "Inscription" : "Connexion" }}
    </h3>

    @if (mode === 'register') {
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" class="form-control" id="firstName"
               formControlName="firstName" placeholder="Votre prénom">
      </div>
      <small class="text-danger"
      *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')">
      Prénom obligatoire
      </small>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" class="form-control" id="lastName"
               formControlName="lastName" placeholder="Votre nom">
      </div>
      <small class="text-danger"
      *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">
      Nom obligatoire
      </small>
    }

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email"
             formControlName="email" placeholder="email@example.com">
    </div>
      <small class="text-danger"
      *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
      Adresse mail obligatoire
      </small>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password"
             formControlName="password" placeholder="••••••••">
    </div>

    @if (formError){
      <div class="alert alert-danger mt-3"> 
        {{formError}} 
      </div>
    }
    

    @if (mode === 'register') {
      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="confirmPassword"
               formControlName="confirmPassword" placeholder="••••••••">
        <small class="text-danger"
               *ngIf="form.get('confirmPassword')?.hasError('mismatch')">
          Les mots de passe ne correspondent pas.
        </small>
      </div>

      <div class="form-group">
        <label for="phone">Téléphone</label>
        <input type="tel" class="form-control" id="phone"
               formControlName="phone" placeholder="06 00 00 00 00">
      </div>
    }

    <button type="submit" class="btn btn-primary btn-block mt-3">
      {{ mode === 'register' ? "S'inscrire" : "Se connecter" }}
    </button>

  </div>
</form>