
  <div class="card shadow-sm p-4 mx-auto" style="max-width: 450px;">
    <h3 class="text-center mb-3">Mon profil</h3>

    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="container mt-3">
      <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" formControlName="firstName">
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" formControlName="lastName">
      </div>

      <div class="form-group">
        <label>Téléphone</label>
        <input class="form-control" formControlName="phone">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="email" readonly>
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-block mt-3">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
